#header {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-left: 10px;
    color: black;
}

.dayBox{
    text-align: left;
    box-shadow: cadetblue 1px 1px 1px 1px;
   height:100%;
   padding-left: 1px 1px 1px 1px ;
   margin: auto;
}
.daysOfWeek{
    padding-left: 1px 1px 1px 1px ;
    text-align: center;
    padding: 1%;
    box-shadow: cadetblue 1px 1px 1px 1px;
}
.headerDiv{
    align-content: center;
    text-align: center;
}